body {
    height: 98vh;
    margin: 2vh 0;
    width: 100vw;
    font-family: 'Audiowide', cursive;
    font-size: 0.8rem;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

#sprite {
    position: absolute;
    width: 5vw;
    height: 3.3vw;
}

#bullet {
    position: absolute;
    height: 10px;
    width: 10px;
    bottom: 6vh;
    color: aliceblue;
    display: block;
    
}

.life {
    width: 5vw;
    height: 3.3vw;
    margin: 0.5vw;
}

#header {
    display: flex;
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}

#scoreContainer {
    margin-left: 3vw;
    align-items: center;

}

#lives {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: space-between;
    margin-right: 3vw;
}

#lives h1 {
    margin-right: 2vw;
}

#shieldContainer {
    width: 90vw;
    margin: 5vh 5vw;
    display: flex;
    justify-content: space-between;
}

#alienContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 40vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

#spriteContainer {
    position: relative;
    width: 100vw;
    height: 10vh;
}

.alien {
    width: 5vw;
    height: 6vh;
}

.a1 {
    background: url(imgs/Alien4.png);
    background-size: cover;
    background-position: center;
    margin-left: 1.135vw;
    margin-right: 1.135vw;
}

.a2 {
    background: url(imgs/Alien2.png);
    background-size: cover;
    background-position: center;
    margin-left: 1.135vw;
    margin-right: 1.135vw;
}

.a3 {
    background: url(imgs/Alien1.png);
    background-size: cover;
    background-position: center;
    margin-left: 1.135vw;
    margin-right: 1.135vw;
}

.shield {
    width: 12vw;
    height: 10vw;    
    background-color: #33FF00;
    border-radius: 1rem;
}

#bullet {
    position: absolute;
    width: 0.3vw;
    height: 1vh;
    background: white;
    z-index: -1;
    /* display: none; */
}